body{
    margin:0;
    padding:0;
    border: 2px solid black;
    height: 100vh;
    background-color: black;
}
.container-report{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:30px;
    margin-top:20px;
}

.item{
    padding:120px;
    border: 2px solid;
    color:white;
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-color: lightgrey;
    text-decoration: none;
    border-radius: 4px;
}


.item:hover{
    background-color: antiquewhite;
}
